﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Element Data Verification Station</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    @* Uncomment to use the HtmlEditor control *@
    @* <script src="https://unpkg.com/devextreme-quill/dist/dx-quill.min.js"></script> *@
    

    @Styles.Render("~/Content/bundle")
    @Styles.Render("~/Content/DevExtremeBundle")
    @Scripts.Render("~/Scripts/bundle")
    @Scripts.Render("~/Scripts/DevExtremeBundle")

</head>
<body>

    <nav class="navbar navbar-dark bg-dark fixed-top navbar-expand-md">
        <a class="navbar-brand" href="/">Element Data Verification</a>

        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navbar" class="collapse navbar-collapse">
            <ul class="navbar-nav  mr-auto">
                <li class="nav-item mx-sm-2">@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="nav-item mx-sm-2">@Html.ActionLink("Work Orders", "Index", "WorkOrderVerifications")</li>
                <li class="nav-item mx-sm-2">@Html.ActionLink("Sequences", "Index", "SequenceVerifications")</li>
                <li class="nav-item mx-sm-2">@Html.ActionLink("Invoices", "Index", "InvoiceVerifications")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
        
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Element Data Verification</p>
        </footer>
    </div>


    @*@Scripts.Render("~/bundles/bootstrap")*@
    @*@RenderSection("scripts", required: false)*@
</body>
</html>
