﻿@model IEnumerable<ElementDataVerification.Models.SequenceVerification>

@{
    ViewBag.Title = "Failed Sequences";
}

<br />
<br />
<br />
<br />

<h2>@ViewBag.Title</h2>

@(Html.DevExtreme().DataGrid<ElementDataVerification.Models.SequenceVerification>()
    .DataSource(ds => ds.WebApi()
        .RouteName("SequenceVerificationsGridApi")
        .LoadAction("Get")
        .UpdateAction("Put")
        .Key("ID")
    )
      .ShowBorders(true)
    .Editing(e => e
        .Mode(GridEditMode.Popup)
        .AllowUpdating(true)
        .Popup(p => p
            .Title("Verify Sequences")
            .ShowTitle(true)
            .Width(700)
            .Height(600)

        )
        .Form(f => f.Items(items =>
        {
            items.AddGroup()
                .Caption("Sequence Info")
                .ColCount(2)
                .ColSpan(2)
                .Items(groupItems =>
                {
                    groupItems.AddSimpleFor(m => m.Sequence).Editor(editor => editor.TextBox().ReadOnly(true));
                    groupItems.AddSimpleFor(m => m.FileExists).Editor(editor => editor.TextBox().ReadOnly(true));
                    groupItems.AddSimpleFor(m => m.CorrectSequence).Editor(editor => editor.TextBox().ReadOnly(true));
                });
            items.AddGroup()
                .Caption("Review")
                .ColCount(2)
                .ColSpan(2)
                .Items(groupItems =>
                {
                    groupItems.AddSimpleFor(m => m.Comments).IsRequired(true)
                        .ColSpan(2)
                        .Editor(editor => editor.TextArea().Height(100)
                        .TabIndex(0)
                        );

                    groupItems.AddSimpleFor(m => m.ReviewedBy).IsRequired(true);
                    groupItems.AddSimpleFor(m => m.IsApproved);
                    groupItems.AddSimpleFor(m => m.ApprovedDate).IsRequired(true);

                });


        }))
    )

    .RemoteOperations(true)
    .FilterRow(filterRow => filterRow
        .Visible(true)
        .ApplyFilter(GridApplyFilterMode.Auto)

    )
    .SearchPanel(seachPanel => seachPanel
        .Visible(true)
        .Width(240)
        .Placeholder("Search...")
        )
    .Columns(columns => {

        columns.AddFor(m => m.Facility);

        columns.AddFor(m => m.Sequence);

        columns.AddFor(m => m.FileExists);

        columns.AddFor(m => m.CorrectSequence);

        columns.AddFor(m => m.BOTVerificationDate);

        columns.AddFor(m => m.ReviewedBy);

        columns.AddFor(m => m.Comments);

        columns.AddFor(m => m.IsApproved);

        columns.AddFor(m => m.ApprovedDate);
    })

)