﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">Element Data Verification Station</h1>
    <img  src="~/Content/RocketAndGroot.jpg" class="center-block" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Review Work Orders</h2>
        <p>@Html.ActionLink("Work Orders", "Index", "WorkOrderVerifications") </p>
    </div>
    <div class="col-md-4">
        <h2>Review Sequences</h2>
        <p>@Html.ActionLink("Sequences", "Index", "SequenceVerifications") </p>
    </div>
    <div class="col-md-4">
        <h2>Review Invoices</h2>

        <p>@Html.ActionLink("Invoices", "Index", "InvoiceVerifications") </p>
    </div>
</div>