﻿@model ElementDataVerification.Models.InvoiceVerification

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@(Html.DevExtreme().Form<ElementDataVerification.Models.InvoiceVerification>()
    .Items(items => {

        items.AddSimpleFor(m => m.Facility);

        items.AddSimpleFor(m => m.Invoice);

        items.AddSimpleFor(m => m.IsVerified);

        items.AddSimpleFor(m => m.BOTVerificationDate);

        items.AddSimpleFor(m => m.ReviewedBy);

        items.AddSimpleFor(m => m.Comments);

        items.AddSimpleFor(m => m.IsApproved);

        items.AddSimpleFor(m => m.ApprovedDate);
    })
)
